*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

section{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

nav h1{
    font-size: 30px;
    font-weight: 700;
}

nav h4{
    font-weight: 900;
}

nav button{
    background-color: rgb(184, 212, 93);
    padding: 5px 8px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid black;
    font-weight: 500;
}

.center{
    padding: 40px 50px;
    height: 80%;
    width: 100%;
    /* background-color: brown; */
    display: flex;
}

.center-part1{
    /* background-color: rgb(44, 108, 163); */
    height: 100%;
    width: 50%;
}



.center-part1 h1{
    font-size: 65px;
    line-height: 1.2;
    font-family: Georgia, Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: aquamarine; */
}

.center-part1 p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 60%;
}

.center-part1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
}

.center-part2{
    /* background-color: rgb(12, 241, 165); */
    height: 100%;
    width: 50%;
    position: relative;
}

.center-part2 img{
    height: 100%;
    position: absolute;
    right: 0;
}

.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 90px;
}

.section1bottom img{
    height: 40px;
    filter: grayscale(100%);
}

.section2{
    margin-top: 50px;
}

.section2 .servise{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 50px;
    gap: 30px;
}

.servise h3{
    background-color: rgb(184, 212, 93);
    font-weight: 500;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.servise p{
    width: 60%;
    font-size: 15px;
}

.container{
    height: 98%;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    flex-wrap: wrap;
}

.elem{
    flex-shrink: 0;
    height: 250px;
    width: 44%;
    border: 1px solid black;
    /* background-color: rebeccapurple; */
    border-radius: 30px;
    padding: 25px;
    box-shadow: 0px 10px 0px black;
    display: flex;
}

.elempart1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elempart1 h2{
    font-size: 30px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
    padding: 0px 5px;
    background-color: rgb(184, 212, 93);
}

.elempart1 h4{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
}

.elempart1 h4 i{
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.elempart2{
    height: 100%;
    width: 50%;
}

.elempart2 img{
    height: 100%;
    /* background-color: transparent; */
}

.black{
    background-color: black;
}

.elempart1 .h2:nth-child(1){
    color: white;
    background-color: transparent;
}

.elempart1 .h2:nth-child(2){
    color: white;
}

.elempart1 .h2:nth-child(2) i{
    background-color: white;
    color: black;
}

.elempart1 .h3:nth-child(1){
    color: white;
    background-color: transparent;
}

.elempart1 .h3:nth-child(2){
    color: white;
}

.elempart1 .h3:nth-child(2) i{
    background-color: white;
    color: black;
}